{% extends "layout.html" %}
{% block content %}
<main>
    <h1>Best Online Marketing Tools!</h1>
    <p class="fs-5 col-md-8">Quickly and easily get started with Bootstrap's compiled, production-ready files with this barebones example featuring some basic HTML and helpful links. Download all our examples to get started.</p>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2>Tools.!</h2>
        <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
        <ul class="icon-list">
          <li><a href="/tool/1">Placement Finder</a></li>
          <li class="text-muted">... (coming soon!)</li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>Guides.!</h2>
        <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
        <ul class="icon-list">
          <li><a href="#">Bootstrap quick start guide</a></li>
          <li><a href="#">Bootstrap Webpack guide</a></li>
          <li><a href="#">Bootstrap Parcel guide</a></li>
          <li><a href="#">Contributing to Bootstrap</a></li>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}