{% extends "layout.html" %}

{% block content %}
    <h1>Choose your Placements</h1>
    <p>Choose from over 10.000 placement domains.</p>
    <form method="post">


        <div class="form-floating mb-4">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="tld">
                <option value="{{ tlds[0] }}" selected>{{ tlds[0] }}</option>
                {% for tld in tlds[1:]|sort %}
                    <option value="{{ tld }}">{{ tld }}</option>
                {% endfor %}
            </select>
            <label for="floatingSelect">Choose your Top Level Domain</label>
        </div>



                <div class="form-floating mb-4">
                    <select class="form-select" id="category" aria-label="Floating label select example" name="category">

                        <option value="{{ categories[0] }}" selected>{{ categories[0] }}</option>
                        {% for category in categories[1:]|sort %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}

                    </select>
                    <label for="category">Choose a category</label>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script>
        $('#topic').change(function () {
            var topic = this.value
            $.getJSON('/data', function(data) {
            var data = data.filter(a => a.cat1 == topic)

$('#topic2').empty()
                        $.each(data, function (i, item) {
    $('#topic2').append($('<option>', {
        value: item.cat2,
        text : item.cat2
    }));
});




            })
        })




    </script>
{% endblock %}