name: Deploy to Cloud Run
on:
  push:
    branches:
      - dev
jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3
        with:
          - ref: dev

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        env:
          GCP_SECRET_BASE64: ${{ secrets.GCP_DEPLOYER }}
        uses: 'google-github-actions/auth@v0.6.0'
        with:
          credentials_json: '${{ secrets.GCP_DEPLOYER }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v0.6.0'

      - id: 'gcloud'
        name: 'gcloud'
        run: gcloud run services list

      - id: 'deploy'
        name: 'deploy'
        run: gcloud run deploy first-try --region=europe-west3 --source $GITHUB_WORKSPACE