name: Deploy to Cloud Run
on:
  push:
    branches:
      - dev
jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3

      #- name: Retrieve the secret and decode it to a file
      #  env:
      #    GCP_SECRET_BASE64: ${{ secrets.GCP_DEPLOYER }}
      #  run: echo $GCP_SECRET_BASE64 | base64 --decode

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        env:
          GCP_SECRET_BASE64: ${{ secrets.GCP_DEPLOYER }}
        uses: 'google-github-actions/auth@v0.6.0'
        with:
          credentials_json: '${{ secrets.GCP_DEPLOYER }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v0.6.0'

      - id: 'gcloud'
        name: 'gcloud'
        run: gcloud run services list